<link href="../styles/main.css" rel="stylesheet"/>

<h1>Team City Status Notifier</h1>
<form id="options">
	<fieldset>
		<legend>Connection</legend>
		<ul>
			<li>
				<label for="use-ssl">Use ssl (https)</label>
				<input id="use-ssl" type="checkbox"/>
			</li>
			<li>
				<label for="host">Host</label>
				<input id="host" type="text" pattern="\w+[\w-]*(?:\.\w+[\w-]*)*" required="required"/ >
			</li>
			<li>
				<label for="port">Port</label>
				<input id="port" type="text" pattern="\d+" required="required"/>
			</li>
			<li>
				<label for="username">Username</label>
				<input id="username" type="text" pattern="\w+" required="required"/>
			</li>
			<li>
				<label for="password">Password</label>
				<input id="password" type="password"/>
			</li>
		</ul>
	</fieldset>

	<fieldset>
		<legend>Options</legend>
		<ul>
			<li>
				<label for="refresh-interval">Refresh interval (ms)</label>
				<input id="refresh-interval" name="refresh-interval" type="text" pattern="\d+" required="required"/>
			</li>
			<li>
				<label for="retry-interval">Retry interval (ms)</label>
				<input id="retry-interval" name="retry-interval" type="text" pattern="\d+" required="required"/>
			</li>
		</ul>
		</fieldset>
		<button>Save</button>
		
		<div id="saved" class="message">Options saved</div>
</form>

<script src="../lib/jquery-1.6.1.min.js"></script>
<script src="../src/analytics.js"></script>
<script src="../src/options.js"></script>
<script>
	var options = new Options(localStorage);
	options.load();

	$('#use-ssl').prop('checked', options.useSsl);
	$('#host').val(options.host);
	$('#port').val(options.port);
	$('#username').val(options.username);
	$('#password').val(options.password);
	$('#refresh-interval').val(options.refreshInterval);
	$('#retry-interval').val(options.retryInterval);

	$('#options').submit(function(event){
		event.preventDefault();
		options.useSsl          = $('#use-ssl').prop('checked');
		options.host            = $('#host').val();
		options.port            = $('#port').val();
		options.username        = $('#username').val();
		options.password        = $('#password').val();
		options.refreshInterval = $('#refresh-interval').val();
		options.retryInterval   = $('#retry-interval').val();
		options.save();

		$('#saved').fadeIn(300).delay(3000).fadeOut(1000);
		chrome.extension.getBackgroundPage().reset();
	});
</script>
