<link href="../styles/main.css" rel="stylesheet"/>

<script id="template" type="text/x-jquery-tmpl">
	{{each(i, build) builds}}
	<li class="${build.status}">
	<a href="${build.webUrl}" title="${build.status}">
		<span class="icon"><span class="buildnumber">${build.lastBuildNumber || '&nbsp;'}</span></span>
		<span class="project">${build.projectName}</span>
		<span class="configuration">${build.name}</span>
		
		<span class="description">${build.description}</span>
		</a>
	</li>
	{{/each}}
</script>

<div id="status">
<!--
	<nav>
		<a href="#" id="refresh">Refresh</a>
	</nav>
	-->
	<ul></ul>
</status>

<script src="../lib/jquery-1.6.1.min.js"></script>
<script src="../lib/jquery.tmpl.min.js"></script>
<script src="../src/analytics.js"></script>
<script>
	$('#status ul').empty();
	$('#template')
		.tmpl({builds:chrome.extension.getBackgroundPage().builds})
		.appendTo('#status ul');
	$('#status ul li a').click(function(event){
		event.preventDefault();
		chrome.tabs.create({url:$(this).attr('href')});
	});
</script>
